@import "../../../base/base.scss";

.two-column-embed-block {

  /*  All of the CSS for the embed-container and iframe is to fix a 16:9 ratio and a 100% width,
    main.js (planet4 plugin-blocks) otherwise messes up the layout. */

  .embed-container {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      padding-top: 56.25%;
    }
  }

  iframe, img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
  }

  iframe {
    height: 100%;
  }

  .column__text--no-bg {
    margin-bottom: 32px;

    @include small-and-up {
      margin-left: -15px;
      margin-right: -15px;
    }

    @include medium-and-up {
      margin-right: 0;
    }
  }
}
