@import "front-end";

$column: 'div[data-type="planet4-gpnl-blocks/column"]';
$column-first: 'div[data-type="planet4-gpnl-blocks/column"]:nth-child(1)';
$column-second: 'div[data-type="planet4-gpnl-blocks/column"]:nth-child(2)';
$column-third: 'div[data-type="planet4-gpnl-blocks/column"]:nth-child(3)';

@mixin columns-widths {
  &.number-of-columns-1 {
    // In case you need styling for a single column.
  }

  &.number-of-columns-2 {
    &.distribution-of-columns-leftBig {
      #{$column-first} {
        width: 66.66%;
      }

      #{$column-second} {
        width: 33.33%;
      }
    }

    &.distribution-of-columns-rightBig {
      #{$column-first} {
        width: 33.33%;
      }

      #{$column-second} {
        width: 66.66%;
      }
    }
  }

  &.number-of-columns-3 {
    &.distribution-of-columns-leftBig {
      #{$column-first} {
        width: 50%;
      }

      #{$column-second} {
        width: 25%;
      }

      #{$column-third} {
        width: 25%;
      }
    }

    &.distribution-of-columns-rightBig {
      #{$column-first} {
        width: 25%;
      }

      #{$column-second} {
        width: 25%;
      }

      #{$column-third} {
        width: 50%;
      }
    }

    &.distribution-of-columns-middleBig {
      #{$column-first} {
        width: 25%;
      }

      #{$column-second} {
        width: 50%;
      }

      #{$column-third} {
        width: 25%;
      }
    }
  }

  &.number-of-columns-4 {
    // In case you need styling for four columns.
  }
}

.wp-block-planet4-gpnl-blocks-columns {
  display: flex;
  flex-direction: column;

  &.dark {
    .block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
      color: lightgrey;
    }

    .block-editor-block-list__empty-block-inserter .block-editor-inserter__toggle:not(:hover), .block-editor-default-block-appender .block-editor-inserter .block-editor-inserter__toggle:not(:hover) {
      color: lightgrey;
    }
  }

  // This may look strange, but it allows the nesting of the block in itself 3 levels deep without messing up the column width inside the editor.
  // Need more levels deep? Keep nesting the mixin 'columns-width'.
  .inner-blocks-wrapper {
    @include columns-widths;

    .inner-blocks-wrapper {
      @include columns-widths;

      .inner-blocks-wrapper {
        @include columns-widths;
      }
    }

    & > .block-editor-inner-blocks {
      & > .block-editor-block-list__layout {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      div[id^="block"] {
        width: 100%;
      }

      div[class^="col"] {
        padding: 0;

        & > * {
          display: block;
        }

        max-width: 100%;
      }
    }

    div {
      height: auto;
    }
  }
}
