@import "front-end";
@import "editor-columns-width";

.wp-block-planet4-gpnl-blocks-columns {
  display: flex;
  flex-direction: column;

  // Overriding the default wp colors.
  &.dark {
    .block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
      color: lightgrey;
    }

    .block-editor-block-list__empty-block-inserter .block-editor-inserter__toggle:not(:hover),
    .block-editor-default-block-appender .block-editor-inserter .block-editor-inserter__toggle:not(:hover) {
      color: lightgrey;
    }
  }

  // This may look strange, but it allows the nesting of the block in itself 3 levels deep without messing up the column width inside the editor.
  // Need more levels deep? Keep nesting 'columns-width'.
  .inner-blocks-wrapper {
    @include columns-widths;

    .inner-blocks-wrapper {
      @include columns-widths;

      .inner-blocks-wrapper {
        @include columns-widths;
      }
    }

    & > .block-editor-inner-blocks {
      & > .block-editor-block-list__layout {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      // All the bootstrap blocks must have a 100% width in the editor because they are contained already.
      div[id^="block"] {
        width: 100%;
      }

      div[class^="col"] {
        padding: 0;

        & > * {
          display: block;
        }

        max-width: 100%;
      }
    }
  }

  .pre-select-columns-wrapper {
    display: block;
    text-align: center;

    h2 {
      margin: 8px;
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      $color-wordpress-editor : #007cba;

      .button {
        width: 180px;
        margin: 8px 16px;
        background-color: $color-wordpress-editor;
        border: 1px solid darken($color-wordpress-editor, 5%);
        display: inline-block;
        cursor: pointer;
        color: $white;
        font-size: 1.1rem;
        padding: 8px 0;
        text-decoration: none;
        text-shadow: 0 1px 0 darken($color-wordpress-editor, 40%);

        &:hover {
          color: darken($white, 15%);
          background-color: darken($color-wordpress-editor, 15%);
        }

        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
