{% block newsletter %}
	{% if ( fields ) %}

		<section class="gpnl-newsletter__block">

			<div class="background-image"
				 style="
					 background-image: url('{{ fields.backgroundimage_url | default }}');
					 background-position: {{ fields.focus_image | default }};
					 opacity: {{ fields.opacity }}%;
					 ">
			</div>
			<div class="page-template gpnl-newsletter__wrapper">
				<div class="gpnl-newsletter__text">
					<div class="gpnl-newsletter__description">{{ fn('wpautop', notification)|e('wp_kses_post')|raw }}</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
