{% block newsletter %}
	{% if ( fields ) %}

		<section class="gpnl-newsletter__block">

			<div class="background-image"
				 style="
					 background-image: url('{{ fields.backgroundimage_url | default }}');
					 background-position: {{ fields.focus_image | default }};
					 opacity: {{ fields.opacity }}%;
					 ">
			</div>
			<div class="page-template gpnl-newsletter__wrapper">
				<div class="gpnl-newsletter__text">
					<p class="gpnl-newsletter__description">
						{{ notification|nl2br }}
					</p>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
