@import "../../../base/base.scss";
@import "../../../base/variables_gpnl.scss";

.page-template {
  .wp-block-planet4-gpnl-blocks-social-message {
    background-color: $anthracite;
    padding: 16px !important;
  }
}

.wp-block-planet4-gpnl-blocks-social-message, [data-type="planet4-gpnl-blocks/social-message"] {
  margin: $sm 0;

  textarea {
    margin-bottom: $sm;
  }

  .button-row {
    display: flex;
    //flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    font-weight: 500;
    padding: .5em 1em;
    line-height: 2;
    width: 100%;
    margin-bottom: 16px;

    @include medium-and-up {
      margin-bottom: 0;
      width: auto;
      min-width: 220px;
    }

    & svg {
      //display: inline-flex;
      //align-self: center;
      height: 1em;
      margin-left: .3em;
      //position: relative;
      //bottom: .125em;
      //margin: 0 .5em 0 0;
    }
  }

  .btn-change-tweet {
    border-color: $white;
    background-color: transparent;
    color: white;

    //&::after {
    //  content: "VERANDER";
    //
    //  @include medium-and-up {
    //    content: "VERANDER TWEET";
    //  }
    //}
  }

  .btn-send-tweet {
    display: flex;
    margin-bottom: 0;


    //
    //&::after {
    //  content: "VERSTUUR";
    //
    //  @include medium-and-up {
    //    content: "VERSTUUR TWEET";
    //  }
    //}
  }

  .thank-you-message {
    color: $white;
  }
}
