@import "../../../base/base.scss";

.gpnl-newsletter__block {
	margin: 54px calc(50% - 50vw) 0;
	border-bottom: 3px solid $light-green;
	max-width: 100vw;
	width: 100vw;
}

.gpnl-newsletter__wrapper {
	padding: 0 !important;
	margin: 0 auto;
}

.happy-point-block-wrap {
	height: unset;

	div.form-group {
		margin-bottom: 0;
	}

	input.form-control {
		margin-bottom: 15px;
	}

	.gpnl-newsletter__text {
		margin-top: 20px;

		h2 {
			margin-bottom: 15px;
			padding: 15px;
			background-color: white;
			width: max-content;
			max-width: 100%;
		}

		p {
			line-height: unset;
			font-size: unset;
			color: white;
			width: max-content;
			padding: 15px;
			background-color: $dark-green;
			max-width: 100%;
			text-align: left;
		}
	}

	.gpnl-newsletter__form {
		margin: 15px 15px 15px 0;

		.submit-button-newsletter {
			line-height: 2;
			margin: 0;
		}
	}

	.input__human {
		display: none;
	}
}
