{% block periodic_donation %}
	{% if ( fields ) %}
		{% if ( fields.title ) %}
			<section class="block gpnl-brochure-form">
			<h2 class="page-section-header"> {{ fields.title }}</h2>
		{% endif %}
		{% if ( fields.description ) %}
			<div class="donationdescription">
				<p class="page-section-description">{{ fields.description|raw }}</p>
			</div>
		{% endif %}
		<div id="brochure-request-form" data-mcode="{{ fields.marketingCode }}" data-itemid="{{ fields.requestedItemId }}" class="form gpnl-brochure-form col-md-8 col-lg-6"></div>
		</section>
	{% endif %}
{% endblock %}
