{% block donation %}

	{% if ( fields ) %}

		<section class="block donation">
			<div class="row">
				<div class="col-lg-6 order-last order-lg-first">
					<div class="donationwrapper">
						{% if ( fields.title ) %}
							<div class="donationtitle">
								<h2>{{ fields.title }}</h2>
							</div>
						{% endif %}
						{% if ( fields.description ) %}
							<div class="donationdescription">
								<p>{{ fields.description|e('wp_kses_post')|raw }}</p>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-6 order-first order-lg-last gpnl-donation-form-wrapper">

					<div id="app" class="card">
						<div class="gp-donation-form card-body custom-control col-12">
							<p class="">
								Wat een pech! Kom jij naar onze website, zijn we die nét aan het verbouwen! <br>
								Maandag 13 juli om 12:00 uur is de klus geklaard. <br><br>
								Kom je dan terug? Bedankt voor je geduld en tot snel!
							</p>
						</div>
					</div>
<!-- end #app -->

					<script>
						dataLayer.push({
							'event': 'virtualPageViewDonatie',
							'virtualPageviewStep': 'Stap 0', //Vul hier de stap in. E.g. Stap 1, Stap 2, Stap 3, Bedankt
							'virtuelPageviewName': 'Landing' // Vul hier de stapnaam in. E.g. Donatie, gegevens, adres, Bedankt
						});
					</script>
				</div>


			</div>
		</section>
	{% endif %}
{% endblock %}
