{% block gpnl_inforequest %}
	{% if ( fields ) %}
		{% if (fields.hider) and (parent) %}
			<a class="educationrequest__button btn btn-primary btn-block" href="{{ parent }}">
				Naar overzicht
			</a>
		{% endif %}
		<section class="block inforequest__wrapper">
			<p class="inforequest__title">
				<strong>Sorry..</strong>
				Normaalgesproken had je je hier kun aanmelden als docent voor ons lesmateriaal.<br>
				We zijn op dit moment bezig met het aanpassen van onze databasesoftware. <br>
				We hopen weer zo snel mogelijk de optie te kunnen bieden om jezelf aan te melden. <br>
				Wil je je in de tussentijd aanmelden? Stuur dan een mailtje naar Anne van de Ven via educatie.nl@greenpeace.org
			</p>
			{% if (fields.hider) %}
				<div id="downloads"></div>
			{% endif %}
		</section>


	{% endif %}
{% endblock %}
