{% block newsletter %}
	{% if ( fields ) %}

		<section class="gpnl-newsletter__block">

			<div class="background-image"
				 style="
					 background-image: url('{{ fields.backgroundimage_url | default }}');
					 background-position: {{ fields.focus_image | default }};
					 opacity: {{ fields.opacity }}%;
					 ">
			</div>
			<div class="page-template gpnl-newsletter__wrapper">
				<div class="gpnl-newsletter__text">
						{% if ( fields.subtitle ) %}
							<p class="gpnl-newsletter__description">
								Wat een pech! Kom jij naar onze website, zijn we die nét aan het verbouwen! <br>
								Maandag 13 juli om 12:00 uur is de klus geklaard. <br>
								Kom je dan terug? Bedankt voor je geduld en tot snel!
							</p>
						{% endif %}
					</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
