{% block ShipCompetition %}
	{% if fields.form_submitted == true %}
		<div class="post-submit-message">
			<h2>Bedankt {{ fields.form_submitter | capitalize }}</h2>
			Bedankt voor jouw inzending! Mocht jouw inzending gekozen worden dan nemen we contact met je op.
		</div>
	{% elseif fields.form_error == true %}
		<div class="post-submit-message error">
			<h2>Error</h2>
			Sorry, daar ging iets mis... Probeer het nog eens!
		</div>
	{% else %}
		<section class="ship-naming-section">
			<form class="ship-naming-form" id="ship-naming-form" action="/nl/wp-admin/admin-post.php" method="post">

				<label for="form_first_name">Voornaam</label>
				<input name="first_name" id="form_first_name" type="text" class="form-control">

				<label for="form_last_name">Achternaam</label>
				<input name="last_name" id="form_last_name" type="text" class="form-control">

				<label for="form_email">Email</label>
				<input name="email" id="form_email" type="email" class="form-control">

				<label for="form_ship_name">Suggestie</label>
				<textarea name="ship_name" id="form_ship_name" type="text" rows="2" class="form-control"></textarea>

				<input type="checkbox" id="form_optin" name="optin" value="optin">
				<label for="form_optin">Ja, ✉️ ik meld me aan voor de Actiemail en geef toestemming om mij per e-mail op hoogte te houden van deze en andere acties. Afmelden kan natuurlijk altijd.</label>

				<input type="hidden" name="action" value="process_ship_naming_competition_form_data">

				<input class="btn btn-primary" type="submit" name="submit_button" value="Verstuur">
			</form>
		</section>
	{% endif %}
{% endblock %}
