{% block ShipCompetition %}
	{% if fields.form_submitted == true %}
		<div class="post-submit-message">
			<h2>Bedankt voor je inzending!</h2>
			<p>De komende maand houden we je via de mail op de hoogte van de reis die onze nieuwe zeilboot momenteel maakt, op weg naar Amsterdam.
			Begin juli komt deze aan op bestemming en maken we de winnaar van de naam- wedstrijd bekend, dus hou je mailbox goed in de gaten!
			</p>
			<p>

			Al bijna 50 jaar bereiken onze schepen tweederde van de wereld. Zo kunnen we ook in de verste uithoeken bijzondere ecosystemen en misstanden onderzoeken, vastleggen en onthullen.
			We zijn en blijven 100% onafhankelijk, dus dankzij supporters zoals jij kunnen we in actie blijven komen voor een betere, schone, leefbare wereld. Als je ons in deze tijd extra kunt en wil steunen, zou dat geweldig zijn.
			</p>

			<a class="btn btn-primary" href="https://steun.greenpeace.nl/doneren/">DONEER</a>
		</div>
	{% elseif fields.form_error == true %}
		<div class="post-submit-message error">
			<h2>Error</h2>
			Sorry, daar ging iets mis... Probeer het nog eens!
		</div>
	{% else %}
		<section class="ship-naming-section">
			<form class="ship-naming-form" id="ship-naming-form" action="/nl/wp-admin/admin-post.php" method="post">

				<label for="form_first_name">Voornaam</label>
				<input name="first_name" id="form_first_name" type="text" class="form-control">

				<label for="form_last_name">Achternaam</label>
				<input name="last_name" id="form_last_name" type="text" class="form-control">

				<label for="form_email">Email</label>
				<input name="email" id="form_email" type="email" class="form-control">

				<label for="form_ship_name">Suggestie (maximaal 20 tekens)</label>
				<input name="ship_name" id="form_ship_name" type="text" rows="2" class="form-control" maxlength="20">

				<input type="checkbox" id="form_optin" name="optin" value="optin">
				<label for="form_optin">Ja, :email: ik geef toestemming om mij per e-mail op hoogte te houden van deze en andere acties. Hierin vragen we soms ook om je steun. Afmelden kan natuurlijk altijd.</label>

				<input type="hidden" name="action" value="process_ship_naming_competition_form_data">

				<input class="btn btn-primary" type="submit" name="submit_button" value="Verstuur">
			</form>
		</section>
	{% endif %}
{% endblock %}
