{% block donation %}

	{% if ( fields ) %}

		<section class="block donation">
			<div class="row">
				<div class="col-lg-12 order-last order-lg-first">
					<div class="donationwrapper">
						{% if ( fields.title ) %}
							<div class="donationtitle">
								<h2>{{ fields.title }}</h2>
							</div>
						{% endif %}
						{% if ( fields.description ) %}
							<div class="donationdescription">
								<p>{{ fields.description|e('wp_kses_post')|raw }}</p>
							</div>
						{% endif %}
						<a href="{{ fs_page }}" class="btn btn-medium btn-primary btn-block">IK DONEER</a>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
