{% block gpnl_inforequest %}
	{% if ( fields ) %}
		{% if (fields.hider) and (parent) %}
			<a class="educationrequest__button btn btn-primary btn-block" href="{{ parent }}">
				Naar overzicht
			</a>
		{% endif %}
		<section class="block inforequest__wrapper">
			<h3 class="inforequest__title">{{ fields.formtitle }}</h3>
			<p class="inforequest__message"></p>
			<p class="inforequest__buttons" style="display:none;">
				Meld je door middel van onderstaande button aan <br>
				<a class="btn btn-primary" href="https://steun.greenpeace.nl/educatie"
				   role="button">Stuur mij de nieuwsbrief</a>
			</p>
			<input type="button" class="btn btn-primary fallbackbtn" value="Nieuwe registratie" data-show=".inforequest__buttons" data-hide=".inforequest__title, .inforequest__message" style="display:none;">
			{% if (fields.hider) %}
				<div id="downloads"></div>
			{% else %}

			{% endif %}
		</section>


	{% endif %}
{% endblock %}
