{% block gpnl_inforequest %}
	{% if ( fields ) %}
		{% if (fields.hider) and (parent) %}
			<a class="educationrequest__button btn btn-primary btn-block" href="{{ parent }}">
				Naar overzicht
			</a>
		{% endif %}
		<section class="block inforequest__wrapper">
			{% if (fields.hider) %}
				<h3 class="inforequest__title">{{ fields.formtitle }}</h3>
				<p class="inforequest__message">
					Wat een pech! Kom jij naar onze website, zijn we die nét aan het verbouwen! <br><br>
					Normaalgesproken had je je hier kunnen aanmelden als docent voor de speciale educatienieuwsbrief, waarna je het gratis lesmateriaal had kunnen downloaden. <br>
					Wil je je in de tussentijd toch aanmelden of lesmateriaal downloaden? Stuur dan een mailtje naar Anne van de Ven via <a href="mailto:educatie.nl@greenpeace.org?subject=Aanmelden nieuwsbrief">educatie.nl@greenpeace.org</a> met het onderwerp 'aanmelden nieuwsbrief'.
				</p>
				<div id="downloads"></div>
			{% else %}
				<h3 class="inforequest__title">{{ fields.formtitle }}</h3>
				<p class="inforequest__message">
					Wat een pech! Kom jij naar onze website, zijn we die nét aan het verbouwen! <br><br>
					Normaalgesproken had je je hier kunnen aanmelden als docent voor de speciale educatienieuwsbrief en de gratis lesmaterialen.<br>
					Wil je je in de tussentijd aanmelden of één van onze lespakketten downloaden?
					Stuur dan een mailtje naar Anne van de Ven via <a href="mailto:educatie.nl@greenpeace.org?subject=Aanmelden nieuwsbrief">educatie.nl@greenpeace.org</a> met het onderwerp 'aanmelden nieuwsbrief'. <br>
					De rest van de website werkt wel gewoon naar behoren, dus neem vooral een kijkje.
				</p>
			{% endif %}
		</section>


	{% endif %}
{% endblock %}
