.ship-naming-form {
  input, textarea {
    display: block;
  }

  input[type='checkbox']{
    display: inline-block;
    margin-top: 1em;

    + label {
      display: inline;
    }
  }

  label:not(:first-child), input[type='submit'] {
    margin-top: 1em;
  }
}
