@import "../../../base/base.scss";

// if a hero-image is present, hide the default header.
.page-header, .page-header-title, .page-header-subtitle, .page-header-content {
  display: none;
  visibility: hidden;
  height: 0;
  padding: 0;
}


.fixed-full {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.contained {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero {
  min-height: 500px;
  background-size: cover;
  border-bottom: 3px solid $light-green;
  margin: 32px calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;

  &.video-container {
    height: 500px;
    overflow: hidden;

    .image-container {
      height: 100%;

      img {
        min-height: 500px;
      }
    }
  }


  + .columns-block {
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    // set margin to zero and add extra -3 for the green line that should not show (because the footer already has one on top).
    margin-bottom: -3px;
  }

  &.hero__small {
    min-height: 250px;

    .hero__description {
      display: none;
    }
  }

  .hero__wrapper {
    padding: 0 !important;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      z-index: -1;
    }

    .hero__text {
      padding: 15px;
      max-width: 100%;

      @include medium-and-up {
        padding: 40px 15px 15px 15px;
      }

      .hero__title {
        margin: 0 0 15px 0;

        span {
          padding: 15px;
          font-size: 1.625rem;
          background-color: $white;
          line-height: 2.5;
          color: $black;
          box-decoration-break: clone;
          -webkit-box-decoration-break: clone;
          width: max-content;
          max-width: 100%;
          @include medium-and-up {
            font-size: 2rem;
          }
        }
      }

      .hero__description {
        display: table;
        background: $dark-green;
        color: $white;
        padding: $norm;
        @include small-and-up {
          max-width: 80%;
        }
        @include medium-and-up {
          max-width: 60%;
        }
      }

      .hero__button {
        margin: 20px 0 0 0;
        box-shadow: none;

        &.icon-link {
          line-height: 3;
        }
      }
    }
  }
}

// This is for the editor
div[data-type="planet4-gpnl-blocks/hero"] {
  max-width: unset;
  width: 100%;
}
